@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --color-moneygreen: oklch(0.6665 0.1942 144.91);
    --color-teal: #15999a;
    --color-black: #1b1b1f;
}

@layer base {
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #1b1b1f inset !important;
        -webkit-text-fill-color: #fff !important;
        transition: background-color 5000s ease-in-out 0s;
        caret-color: white;
    }

    body {
        @apply text-black bg-white
    }

    input[type="text"] {
        @apply outline-none
    }

    button {
        @apply border-1 p-1
    }

    button {
        @apply cursor-pointer
    }
}

@layer utilities {
    .form-input {
        @apply w-full max-w-[280px] sm:max-w-[300px] md:max-w-[320px] lg:max-w-[333px] h-10 sm:h-11 md:h-12 lg:h-10 border-[1px] border-gray-400 rounded-md px-3 py-0.5 text-sm sm:text-base focus:outline-none focus:border-moneygreen ease-out duration-150;
    }

    .form-button {
        @apply cursor-pointer bg-gray-200 text-black px-3 py-2 sm:py-2.5 md:py-3 lg:py-2 w-full max-w-[280px] sm:max-w-[300px] md:max-w-[320px] lg:max-w-[333px] rounded-2xl text-sm sm:text-base lg:text-base hover:bg-moneygreen hover:border-moneygreen hover:text-white duration-500 ease-in-out active:text-black active:bg-white;
    }

    .bg-grid {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 1px, transparent 1px);
        background-size: 45px 45px;
    }

    .link-hover-effect {
        @apply hover:text-moneygreen duration-300 delay-50
    }

    .box {
        @apply bg-black rounded-xl h-[270px] text-white flex flex-col items-center p-5;
    }

    .features-header {
        @apply flex items-center gap-3 mb-10 text-2xl text-moneygreen font-bold
    }
}

@layer components {
    .nav-link {
        @apply text-[18px] text-white py-4 flex items-center gap-[5px] opacity-70 hover:opacity-100 duration-300 active:opacity-100
    }

    .btn {
        @apply bg-black text-white rounded-md text-[18px] hover:bg-white hover:text-black duration-400 opacity-70 hover:opacity-100
    }
}